/* =================================================================== */
/* nav */
/* =================================================================== */
nav {
    height: 80px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    z-index: 1000;
    transition: top 0.3s;
}

nav #navwrap {
    display: flex;
    align-items: center;
}

/* 固定表示のスタイル */
nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

/* ロゴのスタイル */
nav div.nav-logo {}

nav div.nav-logo img {
    width: 200px;
    padding-left: 15px;
}

/* メニューのスタイル */
nav div.nav-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav div.nav-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav div.nav-menu ul li {
    padding: 0 13px;
    margin: 0 0 -5px 0;
    font-size: 1.3rem;
    font-weight: bold;
}

nav div.nav-menu ul li a {
    text-decoration: none;
    color: #000;
}

nav div.nav-menu ul li a:hover {
    border-bottom: 4px solid orange;
    transition: all 0.1s;
}

/* =================================================================== */
/* main */
/* =================================================================== */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

main #wrap {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

main #wrap .heading, .tail {
    margin: 30px auto 30px auto; /* 上部と下部の余白を狭める */
    width: 100%;
}

main #wrap .heading h1 {
    font-size: 3rem;
    text-align: left;  /* ここでh1を左寄りにする */
}

main #wrap .heading .box, .tail .box {
    width: 100%;
    height: 40px;
}
.box-live{
    background-color: #0084ff;
}

.box-news{
    background-color: #fbff00;
}


/* =================================================================== */
/* main.news */
/* =================================================================== */
#news {}

#news h2 {
    opacity: 0.7;
    font-size: 10rem;
    color: #999;
    z-index: -1;
}

#news #news-wrap {
    width: 750px;
    margin: 0 auto;
}

#news #news-wrap .news-container {}

#news #news-wrap .news-container .news-contents-top {
    display: flex;
    padding: 0 0 0 10px;
    margin: 0 0 2px 0;
}

#news #news-wrap .news-container .news-contents-top p {
    padding: 0 0.2rem;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: bold;
}

#news #news-wrap .news-container .news-contents-top .tag-wrap {
    background-color: #333;
    border-radius: 3px;
}

#news #news-wrap .news-container .news-contents-top .tag-wrap p.tag {
    color: #fff;
}

#news #news-wrap .news-container .news-contents-bottom {
    display: flex;
    padding: 12px 0;
    margin: 0 0 7px 0;
    width: 100%;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

#news #news-wrap .news-container .news-contents-bottom p.week {
    font-weight: bold;
    font-size: 1rem;
    transform: rotate(270deg);
}

#news #news-wrap .news-container .news-contents-bottom .text-wrap {
    display: flex;
    justify-content: space-between;
    width: 94%;
}

#news #news-wrap .news-container .news-contents-bottom .text-wrap p.text {
    font-size: 1.1rem;
    margin: 0;
}

#news .andmore {
    width: 100%;
    margin: 0 auto;
}

#news .andmore a {
    text-decoration: none;
}

#news .andmore .p_andmore {
    font-size: 1.2rem;
    color: #555;
    text-align: right;
}
/* =================================================================== */
/* live */
/* =================================================================== */

#live{
    margin: 60px 0 0 0;
}
#live h2{
    opacity: 0.7;
    font-size: 10rem;
    color: #999;
}
#live #live-wrap{
    width: 750px;
    margin: -15px auto 0 auto;
}

#live #live-wrap .live-container{
    /* width: 800px; */
}
#live #live-wrap .live-container .live-contents-top{
    display: flex;

    padding: 0 0 0 10px;
    margin: 0 0 2px 0;

}
#live #live-wrap .live-container .live-contents-top p{
    padding: 0 0.2rem;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: bold;
}
#live #live-wrap .live-container .live-contents-top p.month{}
#live #live-wrap .live-container .live-contents-top p.date{}
#live #live-wrap .live-container .live-contents-top p.year{}
#live #live-wrap .live-container .live-contents-top .address-wrap{
    background-color: #333;
    border-radius: 3px;
}
#live #live-wrap .live-container .live-contents-top .address-wrap p.address{
    color: #fff;
}
#live #live-wrap .live-container .live-contents-top .ticket-few-wrap{
    margin: 0 0 0 5px;
    background-color: #0057FF;
    border-radius: 3px;   
}
#live #live-wrap .live-container .live-contents-top .ticket-sale-wrap{
 
    margin: 0 0 0 5px;
    background-color: #FFC700;
    border-radius: 3px;      
}

#live #live-wrap .live-container .live-contents-top .ticket-soldout-wrap{
    margin: 0 0 0 5px;
    background-color: #ff0000;
    border-radius: 3px;
}
.ticket{
    color: #fff;
}
#live #live-wrap .live-container .live-contents-bottom{
    display: flex;

    padding: 12px 0;
    margin: 0 0 7px 0;

    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;

}
#live #live-wrap .live-container .live-contents-bottom p.week{
    font-weight: bold;
}

#live #live-wrap .live-container .live-contents-bottom p.week{
    font-size: 1rem;
    transform: rotate(270deg)
}
#live #live-wrap .live-container .live-contents-bottom p.text{
    font-size: 1.1rem;
}

#live .andmore{
    width: 750px;
    margin: 0 auto;
}
#live .andmore a{
    text-decoration: none;
}
#live .andmore .p_andmore{
    font-size: 1.2rem;
    color: #555;

    text-align: right;
}
#live .text-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#live .text-wrap .text {
    font-size: 1.1rem;
    color: #333; /* テキストカラー */
}



/* =================================================================== */
/* ページネーション */
/* =================================================================== */

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#pagination button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

#pagination button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

#pagination span {
    font-size: 1rem;
}

/* =================================================================== */
/* footer */
/* =================================================================== */
footer {
    margin: 30px 0 0 0;
    padding: 30px 0 30px 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

footer #footer-wrap {
    margin: 0 auto;
}

footer #footer-wrap .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #footer-wrap .footer-icon a {}

footer #footer-wrap .footer-icon a img {
    margin: 0 18px;
}

footer #footer-wrap .footer-icon a img#footer-logo {
    width: 300px;
}

footer #footer-wrap .license {}

footer #footer-wrap .license p {
    text-align: center;
    margin: 10px 0 0 0;
}
